
body {

  width: 1600px;
  height: 4350px;
  margin: 0px;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.header {
  position: relative;
  width: 1120px;
  height: 60px;
  left: 240px;
  top: 47px;

  &__nav {
    position: absolute;
    display: flex;
    list-style-type: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    // margin-top: 62px;
    margin-left: 101px;

  }
  
  &__nav-element {
    padding-left: 20px;
    padding-right: 20px;
    
    &--active {
      color: #212353;
      font-weight: 800;
    }
  }

  &__purple {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: 27px;
    background: #9C69E2;
    border-radius: 50px
    ;
  }

  &__pink {
    position: absolute;
    height: 35px;
    width: 20px;
    margin-top: 12px;
    margin-left: 29px;
    margin-right: 121px;
    background: #F063B8;
    border-radius: 20px;
    ;
  }

  &__btnRequestDemo {
    display: flex;
    margin-left: 418px;

    &-img {
      margin-left: 20px;
      margin-top: 3px;
    }

    &-btn {
      background: #FFFFFF;
      box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
      border-radius: 50px;
      color: #212353;
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 25.6px;
      letter-spacing: .005em;
      padding: 0px;
      border: none;
      background: none;
      display: flex;
      margin-left: 398px;
      width: 210px;
      height: 60px;
      display: block;
    }
  }

  &__headline {
    width: 645px;
    margin-top: 130px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    align-items: center;
    color: #212353;
  }

  &__paragraph {
    width: 380px;
    height: 120px;
    left: 240px;
    top: 471px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
  }

  &__img {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 363px;
    top: 333px;
  }

  &__btnLearnMore {
    position: absolute;
    max-width: 170px;
    max-height: 60px;
    background: #9c69e2;
    border-radius: 50px;
    font-family: avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    color: #FFFFFF;
    margin-top: 50px;
    padding-left: 37px;
    padding-right: 37px;
    padding-block: 16px;
  }
}



.section2 {

  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;

  &__img {
    margin-left: 11px;
    max-width: 477px;
    max-height: 504px;
  }
  
  &__subHeadLine {
    position: absolute;
    max-width: 475px;
    max-height: 100px;
    margin-left: 550px;
    margin-top: 125px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    display: flex;
    align-items: center;
  }

  &__paragraph {
    position: absolute;
    width: 474px;
    height: 170px;
    left: 550px;
    top: 265px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #4B5D68;
  }

}

.section3 {
  
  &__title {
    position: absolute;
    top: 1613px;
    left: 507.29px;
  }

  &__title-features {
    width: 405px;
    // margin-left: 596.29px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    align-items: center;
    color: #212353;
    text-align: center;
  }

  &__title-text {
    width: 584px;
    height: 58px;
    // margin-left: 507.29px;
    top: 1715px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
  }

  &__searchData {
    position: absolute;
    width: 442px;
    height: 358px;
    left: 328.29px;
    top: 1873px;
    background-image: url(/assets/Rectangle39.svg);
    // background: violet;
    background-repeat: no-repeat;

    &-ellipse61 {
      position: absolute;
      left: 286.07px;
      top: 43.88px;
    }

    &-vector56 {
      position: absolute;
      left: 202px;
      bottom: 160.01px;

    }

    &-hero {
      position: absolute;
      width: 232px;
      height: 211px;
      top: 73px;
      margin-left: -89.29px;
    }

    &-title {
      width: 200px;
      height: 50px;
      left: 172px;
      top: 49px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #212353;
      justify-content: flex;
      position: absolute;
    }

    &-text {
      position: absolute;
      width: 220px;
      top: 119px;
      height: 160px;
      left: 172px;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
    }

    &-btn {
      position: absolute;
      height: 26px;
      left: 172px;
      top: 299px;
      padding: 0px;
      background: none;
      border: none;
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 160%;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      color: #212353;
    }
  }


  &__24hourAccess {
    position: absolute;
    width: 442px;
    height: 358px;
    left: 915.28px;
    top: 1873px;
    background-image: url(/assets/rectangle24hourAccess.svg);
    background-repeat: no-repeat;

    &-hero {
      position: absolute;
      width: 241px;
      height: 185px;
      left: -102.28px;
      top: 71px;
    }

    &-vector {
      position: absolute;
      top: 146px;
      left: 193px;
    }

    &-title {
      position: absolute;
      width: 200px;
      height: 50px;
      left: 172px;
      top: 49px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 130%;
      color: #212353;
    }

    &-text {
      position: absolute;
      width: 220px;
      height: 160px;
      left: 172px;
      top: 119px;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
    }

    &-btn24hourAccess {
      position: absolute;
      height: 26px;
      left: 172px;
      top: 299px;
      padding: 0px;
      background: none;
      border: none;
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 160%;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      color: #212353;
    }
  }

  &__printOut {

    position: absolute;
    width: 442px;
    height: 358px;
    left: 328.29px;
    top: 2281px;
    background-image: url(/assets/printOutRectangle.svg);
    background-repeat: no-repeat;

    &-title {
      position: absolute;
      width: 200px;
      height: 50px;
      left: 172px;
      top: 49px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #212353;
    }

    &-btn {
      position: absolute;
      top: 299px;
      left: 172px;
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 160%;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      color: #212353;
      background: none;
      border: none;
    }

    &-hero {
      position: absolute;
      width: 245px;
      height: 181px;
      left: -108.29px;
      top: 123px;
    }

    &-text {
      position: absolute;
      width: 220px;
      height: 160px;
      left: 172px;
      top: 119px;

      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
    }

    &-ellipse {
      position: absolute;
      top: 22px;
      left: 340px;
    }
  }

  &__securityCode {

    position: absolute;
    width: 442px;
    height: 358px;
    left: 915.28px;
    top: 2281px;
    background-image: url(/assets/section3securityCodeRectangle.svg);
    background-repeat: no-repeat;

    &-title {
      position: absolute;
      top: 49px;
      left: 172px;

      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 130%;

      display: flex;
      align-items: center;

      color: #212353;
    }

    &-btn {
      position: absolute;
      top: 299px;
      left: 172px;
      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 160%;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      color: #212353;
      background: none;
      border: none;
    }

    &-text {
      position: absolute;
      width: 220px;
      height: 160px;
      left: 172px;
      top: 119px;

      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;

      color: #4B5D68;
    }

    &-hero {
      position: absolute;
      width: 230px;
      height: 201px;
      left: -97.28px;
      top: 86px;
    }

    &-vector {
      position: absolute;
      left: 16px;
      top: 6px;
    }

    &-ellipse {
      position: absolute;
      left: 347px;
      top: 278px;
    }
  }
}

.section5 {
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  background-color: #9c69e2;
  border-radius: 50px;

  &__title {
    position: absolute;
    width: 405px;
    height: 52px;
    left: 93px;
    top: 109px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  &__john {

      position: absolute;
      width: 645px;
      height: 330px;
      left: 93px;
      top: 249px;

      background: #FFFFFF;
      box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
      border-radius: 20px;

      &-name {
        position: absolute;
        width: 170px;
        height: 29px;
        left: 190px;
        top: 80px;
  
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 160%;
        /* identical to box height, or 29px */
  
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
  
        /* 2 */
  
        color: #212353;
      }
  
      &-subHeadline {
        position: absolute;
        width: 101px;
        height: 22px;
        left: 190px;
        top: 109px;
  
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        /* or 22px */
  
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;

        color: #9C69E2;
      }
  
      &-text {
        position: absolute;
        width: 385px;
        height: 130px;
        left: 190px;
        top: 150px;
  
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 180%;
        color: #4B5D68;
      }   

      &-img {
        position: absolute;
        top: 60px;
        left: 70px;
      }
  }

  &__jenny {

    position: absolute;
    width: 360px;
    height: 330px;
    left: 758px;
    top: 249px;
    // background-image: url(/assets/linearGradient.svg);
    // background-repeat: no-repeat;
    background: linear-gradient(270deg, #9c69e2 9.75%, white 100%);
    /* 3 */

    border: 1px solid #9C69E2;
    box-sizing: border-box;
    border-radius: 20px;

    &-name {
      position: absolute;
      width: 170px;
      height: 29px;
      left: 160px;
      top: 75px;

      font-family: Avenir;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 160%;
      /* identical to box height, or 29px */

      display: flex;
      align-items: center;
      letter-spacing: 0.005em;

      /* 2 */

      color: #212353;
    }

    &-subHeadline {
      position: absolute;
      width: 101px;
      height: 22px;
      left: 160px;
      top: 104px;

      font-family: Avenir;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      /* or 22px */

      display: flex;
      align-items: center;
      letter-spacing: 0.01em;

      color: #9C69E2;
    }

    &-text {
      position: absolute;
      width: 180px;
      height: 130px;
      left: 160px;
      top: 145px;

      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 180%;
      /* or 32px */


      /* 1 */

      color: #4B5D68;
    }

    &-img {
      position: absolute;
      top: 55px;
      left: 40px;
    }
  }

  &__slider {

    position: absolute;
    width: 55px;
    height: 10px;
    left: 93px;
    top: 639px;
  }

  &__group57 {

    position: absolute;
    width: 40px;
    height: 14px;
    left: 962px;
    top: 637px;
  }

  &__group56 {

    position: absolute;
    width: 20px;
    height: 14px;
    left: 1022px;
    top: 637px;
  }
}
