
body {

  width: 1600px;
  height: 4350px;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.header {
  position: relative;
  width: 1120px;
  height: 60px;
  left: 240px;
  top: 47px;

  &__nav {
    position: absolute;
    display: flex;
    list-style-type: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 70px;
    margin-left: 170px;

  }
  
  &__nav-element {
    padding-left: 20px;
    padding-right: 20px;
    
    &--active {
      color: #212353;
      font-weight: 800;
    }
  }

  &__purple {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: 74px;
    background: #9C69E2;
    border-radius: 50px
    ;
  }

  &__pink {
    position: absolute;
    height: 35px;
    width: 20px;
    margin-top: 59px;
    margin-left: 29px;
    margin-right: 121px;
    background: #F063B8;
    border-radius: 20px;
    ;
  }

  &__btnRequestDemo {
    color: #212353;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    margin-left: 447px;
    margin-top: 64px;

    &-img {
      margin-left: 20px;
      margin-top: 3px;
    }
  }
}

.section1 {
  &__header {
    position: absolute;
    width: 645px;
    height: 184px;
    margin-left: 240px;
    margin-top: 237px;
    font-family: helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;

  }
  &__paragraph {
    position: absolute;
    width: 380px;
    height: 120px;
    left: 240px;
    top: 471px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
  }
  &__img {
    position: absolute;
    max-width: 885px;
    max-height: 468px;
    left: 603px;
    top: 333px;
    // background: "./assets/twoWomen.png;"
  }

  &__btn {
    position: absolute;
    // display: inline-block;
    max-width: 170px;
    max-height: 60px;
    background: #9c69e2;
    border-radius: 50px;
    font-family: avenir;
    font-style: normal;
    // font-weight: 800; //design says 800, visually 800 doesn't match
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    color: #FFFFFF;
    margin-top: 657px;
    margin-left: 240px;
    padding-left: 37px;
    padding-right: 37px;
    padding-block: 16px;
    border-color: #9c69e2;
  }
}

// .section2 {

//   margin-top: 903.18px;
  
//   &__header {
//     // position: inherit;
//     max-width: 475px;
//     max-height: 100px;
//     margin-left: 790px;
//     margin-top: 1028.18px;

//     /* SubHeadline */

//     font-family: Helvetica;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 40px;
//     line-height: 130%;
//     /* or 52px */

//     // display: flex;
//     // align-items: center;

//     color: #212353;
//   }

//   &__img {
//     position: absolute;
//     max-width: 477px;
//     max-height: 504px;
//     margin-left: 251px;
//     margin-top: 935px;
//   }
// }